<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<!-- REQ RECEIPT LINE ITEMS-->
  <appSettings>
    <add key="cnctHEMM_HMC" value="Data Source=H-HEMMDB;Initial Catalog = HEMM; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
    <add key="cnctBIAdmin_HMC" value="Data Source=UWM-HEBI1;Initial Catalog = uwm_BIAdmin; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>

    <!-- debug = true directs all emails to dlrjones -->
    <add key="debug" value="false" />
    <!-- seperate multiple email addresses with a comma.  in debug, this sends emails to the req's originator.          ,robjones@keymoon.com  -->
    <add key="debugRecipientList" value="dlrjones@uw.edu" /> <!--,williem@uw.edu,kendk@uw.edu,faliabba@uw.edu,mazin@uw.edu-->    
    
    <!-- specify the cost centers to send receipts for - seperate multiple cc's with a comma or set value = "" for all cc's -->    
    <add key="partialCCList" value="6011,6012,6014,6015,6070,6071,6072,6074,6075,6077,6082,6084,6085,6087,6088,6140,6142,6144,6145,6400,6410,7230" />    <!-- 6074,6087,7050 -->

    <!--  when using the debugCCRecip values with more than one CC, be careful that the debugRecipientList 
    isn't causing someone to get multiple emails this can happen when the listed debugCCRecip is also the CC of those listed in debugRecipientList
    This send emails to those on a list based upon the cost center.
         Specify a cost center #, a colon and then the email address of who gets the receipt. Separate multiple recip's for
         the same cost center with a comma and each cost center with a semicolon. This list is made into a hashtable. Use this
         format for the buyerTeams also-->
    <add key="debugCCRecip" value="7020:dlrjones@uw.edu;" />
         <!--6074:lbrandle@uw.edu,dlrjones@uw.edu;6087:rozeboo@uw.edu,dlrjones@uw.edu;6085:rozeboo@uw.edu,dlrjones@uw.edu -->
  <!--  <add key="buyerTeams" value="M:scmmro@uw.edu;P:scmpcs@uw.edu;S:scmsurg@uw.edu" /> -->
    
    <!--true = view the log to see the path that the app takes -->
    <add key="trace" value="false" /> 

    <!-- <add key="logFile" value="ReqReceiptLog.txt" /> -->
    <add key="logFile" value="ReqReceiptLogTEST.txt" />
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\ReqReceipt\Logs\hmc\" />
    <add key="unameVariantList" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\username.txt"/>
    <add key="attachmentPath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\ReqReceipt\Attachments\hmc\" />
  </appSettings>
  
</configuration>
<!--
CC_ID	ACCT_NO
1014	6011                                    
1015	6012                                    
1017	6014                                    
1018	6015                                    
1350	6070                                    
1019	6071                                    
1020	6072                                    
1022	6074                                    
1023	6075                                    
1411	6077                                    
1026	6082                                    
1027	6084                                    
1028	6085                                    
1029	6087                                    
1486	6088                                    
1454	6140                                    
1030	6142                                    
1031	6144                                    
1032	6145                                    
1034	6400                                    
1371	6410                                    
-->
